main {
    min-height: calc(100vh - 160px);
  }

  .card-img-top {
    object-fit: cover;
    height: 200px;
  }
  
  .card-body p {
    font-size: 0.9rem;
  }

  .card-text {
    max-height: 150px;
    overflow-y: auto; 
  }